@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines what 1rem is.
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

/* Trick: */

.body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-row: 1 / 2;
}

main {
  grid-row: 2 / 3;
}

footer {
  grid-row: 3 / 4;
}
