// Colors:
$color-white: #ffffff;
$color-black: #000000;

$color-primary-light: #96c0ff;
$color-primary-dark: #3e8bff;
$color-primary-darkest: #295fc8;

$color-secondary: #f1f1f1;
$color-secondary-light: #dadada;
$color-secondary-dark-light: #505050;
$color-secondary-dark: #505050;
$color-secondary-darkest: #232323;

$color-error-primary: #ff3131;

$grey-900: rgb(18, 18, 18);

// max-Width
$md: 149.7rem;

// login and registration
$login-xs: 450px;
$login-sm: 991px;
$login-sides-padding-md: 0 3.5rem;

// Padding
$sides-padding-md: 0 5.5vw;

// Margin
$sides-margin-md: 0 5.5vw;

// @media 'Responsive width' 'breaking point'
$mobile-xs: 0;
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;

$tablet-xs: 625px;
$tablet-sm: 768px;
$tablet-md: 900px;

$laptop-xs: 1024px;
$laptop-sm: 1256px;
$laptop-md: 1440px;
$laptop-lg: 1920px;

// Typography

@mixin heading-title-1 {
  line-height: 1;
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 2rem;

  @media only screen and (max-width: $tablet-md) {
    font-size: 3.2rem;
  }

  @media only screen and (max-width: $tablet-xs) {
    font-size: 3rem;
  }

  @media only screen and (max-width: $mobile-lg) {
    font-size: 2.8rem;
  }
}

@mixin heading-title-2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: $color-secondary-dark;
  margin-bottom: 0.5rem;

  @media only screen and (max-width: $tablet-md) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: $tablet-xs) {
    font-size: 2rem;
  }
}

@mixin heading-title-3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: $color-secondary-dark;
}

@mixin heading-title-4 {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

@mixin text-highlight {
  font-weight: 500;
  color: $color-black;
}
