@import '../../../../sass/variables';

// .fleet-container {
//   overflow-y: auto;
//   scrollbar-width: none;
//   &::-webkit-scrollbar {
//     display: none;
//   }
//   z-index: 10;
//   color: $color-white;

//   scrollbar-width: none;
//   background-color: $color-black;
// }

.fleet-list {
  padding: 2.5rem;
  width: calc(100% - 5rem);
  list-style: none;
  display: grid;
  //   grid-template-columns: max-content;
  //   grid-template-rows: max-content;
  gap: 2rem;
}

.car-preview {
  display: grid;
  grid-template-columns: minmax(10rem, 68.5rem);
  grid-template-rows: minmax(max-content, 38.5rem);
}

.car-image {
  z-index: 15;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 38.5rem;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s;
}

.car-text__contaienr {
  z-index: 25;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  display: grid;
}

.car-name {
  z-index: 25;
  font-size: 2.6rem;
  text-shadow: 0 0 1rem $color-secondary-darkest;
  font-weight: 400;
  padding: 1.5rem;

  @media screen and (max-width: $laptop-xs) {
    font-size: 2.4rem;
  }

  @media screen and (max-width: $tablet-md) {
    font-size: 2.2rem;
  }

  @media screen and (max-width: $tablet-sm) {
    font-size: 2rem;
  }
}

.car-btn:link,
.car-btn:visited {
  text-decoration: none;
  color: inherit;
}

// .fleet-menu-options {
//   padding: 2.5rem;
//   padding-bottom: 0;
//   font-size: 1.8rem;
//   display: flex;
//   align-items: center;
//   justify-content: end;

//   @media screen and (max-width: $tablet-sm) {
//     font-size: 1.6rem;
//     justify-content: space-between;
//   }
// }

// .menu-close {
//   display: none;
//   cursor: pointer;
//   font-size: 4.5rem;
//   font-weight: 100;
//   line-height: 0;

//   @media screen and (max-width: $tablet-sm) {
//     display: block;
//   }
// }

// .fleet-return-menu {
//   cursor: pointer;
//   width: max-content;
//   padding: 0.5rem 1rem;
//   display: flex;
//   gap: 0.5rem;
//   transition: gap 0.3s;

//   &:hover {
//     gap: 1.5rem;
//     transition: gap 0.3s;
//   }
// }
