@import '../../../sass/variables';

.menu {
  position: fixed;
  top: 0;
  width: 0;
  height: 100vh;

  left: -30rem;
  // display: none;
  // background-color: white;

  transition: all 0.5s;
}

.options-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 35%;

  @media screen and (max-width: $laptop-sm) {
    grid-template-columns: 40% 45;
  }

  @media screen and (max-width: $laptop-xs) {
    grid-template-columns: 50% 1fr;
  }

  @media screen and (max-width: $tablet-md) {
    grid-template-columns: 60% 1fr;
  }

  @media screen and (max-width: $tablet-sm) {
    grid-template-columns: 75% 1fr;
  }

  @media screen and (max-width: $tablet-xs) {
    grid-template-columns: 100% 1fr;
  }
}

.menu-active {
  position: fixed;
  display: block;
  visibility: visible;
  width: 100vw;

  left: 0;
  // background-color: blue;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.menu-container {
  background-color: $color-white;
  height: 100%;
  max-width: 100%;
  z-index: 5;

  display: flex;
  align-items: center;
  padding: 0 2.5vw;
}

.menu-close {
  font-size: 1.6rem;
  font-family: inherit;
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 2.5rem;
  border-radius: 0.4rem;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: $color-secondary;
    transition: all 0.3s;
  }

  &__icon {
    font-size: 3.4rem;
    font-weight: 200;
  }
}

.menu-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  gap: 2.3rem;
}

.list-quick-link {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  border-radius: 0.4rem;
  transition: all 0.3s;

  &,
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-black;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-secondary;
    transition: all 0.3s;
  }
}

.fleet-container {
  position: absolute;
  width: 60%;
  left: -100%;
  transition: all 0.8s;
  z-index: 2;
}

.fleet-container-active {
  position: relative;
  left: 0;
  width: 100%;
  transition: all 0.8s;
  z-index: 2;
}
