@import '../../../../../sass/variables';

.gallery {
  display: none;
  position: fixed;
  background-color: $color-white;
  bottom: -100vh;
  height: 100vh;
  width: 100%;
  z-index: 250;
  overflow: scroll;

  transition: bottom 0.5s;
}

.active {
  display: block;
  bottom: 0;

  transition: bottom 0.5s ease-out;
}

.navbar-container {
  background-color: $color-white;
  position: fixed;
  width: 100%;
}

.navbar {
  max-width: $md;
  margin: 0 auto;
  padding: 2rem 0;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;

  &-return-btn {
    cursor: pointer;
    width: max-content;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s;

    &:hover {
      gap: 1.5rem;
      background-color: $color-secondary;
    }
  }

  &-active-mode {
    color: $color-white;
    background-color: $color-secondary-darkest;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
  }
}

.gallery-images {
  margin-top: 7rem;
  padding: 0 1.5rem;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  @media only screen and (max-width: 1440px) {
    padding: 0 1.3rem;
  }

  @media only screen and (max-width: 1200px) {
    padding: 0 1.1rem;
  }

  @media only screen and (max-width: 840px) {
    padding: 0 0.9rem;
  }
}

.image-container-1 {
  //   width: 50%;
  //   height: 85rem;
}

.image-container-2 {
  //   width: 33%;
}

.image-container-1,
.image-container-2 {
  height: 80vh;
  width: 100%;
}

.image-1,
.image-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
