@import '../../../sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.exclamation-icon-circle {
  height: 1.6rem;
  // @media only screen and (max-width: $login-sm) {
  //   height: 1.6rem;
  // }
}

.error-message {
  color: $color-error-primary;
  font-size: 1.4rem;
  // margin-left: 0.8rem;
  display: flex;
  justify-items: center;
  gap: 0.4rem;

  @media only screen and (max-width: $login-sm) {
    font-size: 1.2rem;
  }
}
