@import '../../../sass/variables.scss';

.collection-admin {
  max-width: 100%;
  min-height: calc(100vh - 5rem);
  color: $color-white;
  margin-left: 30rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

.page-name {
  font-size: 2.6rem;
  font-weight: 300;
}

.add-car:link,
.add-car:visited {
  text-decoration: none;
  color: $color-black;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $color-white;

  &:hover {
    background-color: $color-secondary-light;
    transition: all 0.2s;
  }
}

.add-car-logo {
  font-family: inherit;
  padding: 0;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 100;
}
